# Docker Images
BLUE_IMAGE=yimikaade/wonderful:latest
GREEN_IMAGE=yimikaade/wonderful:latest

# Active Pool Configuration (blue or green)
ACTIVE_POOL=blue

# Release Identifiers
RELEASE_ID_BLUE=blue-v1.0.0
RELEASE_ID_GREEN=green-v1.0.0

# Application Port (internal container port)
PORT=3000
